
.gameoverPopup{
  color: white;
  background-color: rgba(255, 0, 0, 0.301);
  width : 50vw;
  position:fixed;
  left:25%;
  top:10%;
  z-index: 50;

  h3 {
    font-size: 80px;
    margin-top: 5%;
    margin-bottom: 30px;

    .skull1, .skull2{
    margin:0 2%;
    font-size: 50px;
    }
  }
  
  img{
    min-width : 30vw;
    max-height : 40vh;
    right : 0;
  }

  button{
    font-size: 30px;
  }
}

@media only screen and (max-width: 1270px) {
  .gameoverPopup {

    h3 {
      font-size: 60px;
      margin-top: 5%;
      margin-bottom: 30px;
  
      .skull1, .skull2{
        margin: 0;
      }
    }
    img{
      margin-top: 10%;
    }
  }

}
@media only screen and (max-width: 760px) {
  .gameoverPopup {
    width: 90%;
    height: 90%;
    left:5%;
    top:5%;

    h3 {
      font-size: 80px;
      margin-top: 5%;
      margin-bottom: 30px;
  
      .skull1{
       display: none;
      }

      .skull2{
        margin: 0 20%;
      }
    }
    img{
      margin-top: 10%;
    }
  }

}